<div class="card">
  <header class="card-header">
      <p class="title is-size-5" style="padding: 1%; width: 100%; text-align: left">
        Simulation's interactions
      </p>
    </header>
  <div class="card-content" style="text-align: left; height:300px; overflow-y: scroll;">
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th><abbr title="Position">N</abbr></th>
          <th>Sex</th>
          <th>Age</th>
          <th>Salary</th>
          <th>Skill</th>
          <th><abbr title="Year of arrival">Arrival</abbr></th>
          <th>Routed to</th>
          <th>Satisfaction</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let interaction of simulation.interactions, index as index">
            <th>{{index + 1}}</th>
            <td>{{sex_options[interaction.sex].text}}</td>
            <td>{{interaction.age}}</td>
            <td>{{salary_options[interaction.salary].text}}</td>
            <td>{{skill_options[interaction.skill].text}}</td>
            <td>{{interaction.year_of_arrival}}</td>
            <td>Agent {{interaction.agent}}</td>
            <td>{{interaction.satisfaction}}/5 <button class="delete" aria-label="close" style="margin-left: 20px" (click)="removeInteraction(index)"></button></td>
          </tr>
      </tbody>
    </table>
    <p *ngIf="simulation.interactions.length == 0" class="title is-5" style="text-align:center">Try adding an client interaction just below</p>
  </div>
</div>

<br>
<div class="card">
    <header class="card-header">
        <p class="title is-size-5" style="padding: 1%; width: 100%; text-align: left">
             Add an interaction
        </p>
      </header>
    <div class="card-content" style="text-align: left">
      <div class="columns is-gapless">
          <div class="column">
              <div class="field">
                  <label class="label">Sex:</label>
                  <div class="control">
                    <div class="select is-primary">
                      <select [(ngModel)]="sex">
                        <option *ngFor="let option of sex_options" [value]="option.id">{{option.text}}</option>
                      </select>
                    </div>
                  </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="field">
                    <label class="label">IVR choice:</label>
                    <div class="control">
                      <div class="select is-primary">
                        <select [(ngModel)]="skill">
                          <option *ngFor="let option of skill_options" [value]="option.id">{{option.text}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Agent:</label>
                    <div class="control">
                      <div class="select is-primary">
                        <select [(ngModel)]="agent">
                          <option value='1'>Agent 1</option>
                          <option value='2'>Agent 2</option>
                          <option value='3'>Agent 3</option>
                          <option value='4'>Agent 4</option>
                          <option value='5'>Agent 5</option>
                        </select>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="column">
                <div class="field">
                    <div class="control">
                        <label class="label">Arrival year:</label>
                      <input class="input is-primary" type="number" step="1" placeholder="Primary input" [(ngModel)]="year_of_arrival">
                    </div>
                  </div>
            </div>
          </div>
        
          <div class="slidecontainer">
            <label class="label">Age: {{age}} years old</label>
            <input type="range" min="18" max="100" class="slider" [(ngModel)]="age">
          </div><br>
        
          <div class="slidecontainer">
            <label class="label">Salary: {{salary_options[salary].text}} per month</label>
            <input type="range" min="0" max="5" class="slider" [(ngModel)]="salary">
          </div><br>

          <div class="slidecontainer">
            <label class="label">Satisfaction: {{satisfaction}}</label>
            <input type="range" min="1" max="5" class="slider" [(ngModel)]="satisfaction">
          </div><br>
        
          <a class="button is-primary is-fullwidth" (click)="addInteraction()">Add an interaction to the simulation</a>
    </div>
  </div>