<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav class="level">
    <div class="level-item">
      <img src="../assets/2018-12-13_Odigo_Logo-full-color_RGB.jpg" style="max-width:100px;max-height: auto; margin-right: 5px;">
    </div>
    <div class="level-item">
      <p class="title is-2 has-text-centered" style="margin-left: 120px">Intelligent Routing - Training interface</p>
    </div>
  </nav>

  <div class="columns is-variable is-8" style="text-align:center">
    <div class="column is-3">
      <simulation-picker [currentSimulation]=simulation [simulations]=simulations (open)="onOpen($event)" (delete)="onDelete($event)" (discard)="onDiscard($event)" (save)="onSave($event)" (upload)="onUpload($event)"></simulation-picker>
    </div>
    <div class="column">
      <br>
      <predictor [simulation]=simulation *ngIf="simulation.interactions.length > 0"></predictor>
      <br>
      <chart [simulation]=simulation [refresher]="simulation.interactions.length" *ngIf="simulation.interactions.length > 0"></chart>
      <br>
      <simulation [simulation]=simulation></simulation>
    </div>
  </div>

  <div class="modal is-active" *ngIf="displayModal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Upload .json dump</p>
          <button class="delete" aria-label="close" (click)="closeModals()"></button>
        </header>
        <section class="modal-card-body" style="text-align:center">
          <p class="title is-6">You are going to lose all the simulations you have not downloaded!</p>
          <button class="button is-fullwidth is-primary" style="border-radius: 10px;" (click)="triggerDownload()">Download .json dump of current simulations</button><br>
          <p class="title is-6">When you are sure</p>
          <label for="file-upload" class="button is-primary" class="custom-file-upload">
            <span style="vertical-align: middle;">Upload .json dump</span>
          </label>
          <input class="button " id="file-upload" type="file" accept=".json" style="display: none" (change)="onFileChange($event)"/>
          
        </section>
      </div>
    </div>
</div>